{  
    "Name":"Multy-Stage",
    "Database":{  
        "TableUsers":"UserCollection",
        "DBUsers":"userDB",
        "DBFeeRates":"BTCMempool",
        "DBTx":"DBTx",
        "DBStockExchangeRate":"DBStockExchangeRate"
    },
    "NSQAddress":"0.0.0.0:6150",
    "BTCNodeAddress":"127.0.0.1:6660",
    "RestAddress":"0.0.0.0:6778",
    "SocketioAddr":"0.0.0.0:6780",
    "SSL":{  
        "Enabled":false,
        "Key":"",
        "Crt":""
    },
    "BTCAPITest":{  
        "Token":"1c8559125c704ffc8b2b295dbeb6da85",
        "Coin":"btc",
        "Chain":"test3"
    },
    "BTCAPIMain":{  
        "Token":"6b4e9ead6afe4803bd1e2d22b24b52ad",
        "Coin":"btc",
        "Chain":"main"
    },
    "Firebase":{  
        "ServerKey":"AIzaSyALral-6nY0Hynzs8MBMbzOcZpN24erthI"
    },
    "BTCSertificate":"rpc.cert",
    "Logs":{  
        "Handlers":[  
            {  
                "Type":"stderr",
                "Level":"DEBUG"
            },
            {  
                "Type":"file",
                "Level":"INFO",
                "Filename":"info.log"
            },
            {  
                "Type":"file",
                "Level":"WARN",
                "Filename":"error.log"
            },
            {  
                "Type":"file",
                "Level":"DEBUG",
                "Filename":"debug.log"
            }
        ],
        "CallerInfo":false,
        "Logpath":"logs"
    },
    "DonationAddresses":[ 
        {  
            "OS":1,
            "Feature":"Donation with transaction",
            "FeatureCode":10000,
            "DonationAddress":"1FPv9f8EGRDNod7mSvJnUFonUioA3Pw5ng"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding bitcoin lighting",
            "FeatureCode":10100,
            "DonationAddress":"1EyoGcD8sWzHikPPiJmzGiHyUyTHZzHtGU"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding ethereum",
            "FeatureCode":10101,
            "DonationAddress":"1Eo3U9PVSr3XyFhaH5sm1hWNpMmk1bCKQR"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding golos",
            "FeatureCode":10102,
            "DonationAddress":"1LtLD3W2uqABssS1SZxeYi75xvpZpYFZ1B"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding steemit",
            "FeatureCode":10103,
            "DonationAddress":"14REwuBJQTTEF8PNCF2vmKtanoK7u1NbHr"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding bitshares",
            "FeatureCode":10104,
            "DonationAddress":"1DVmNPZgSUmdsBd5cmYUMgvmFH7rmDzyRY"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding bitcoin cash",
            "FeatureCode":10105,
            "DonationAddress":"17wvEWAqnY5qmitVzTR9DiV8jPz3GK8GD1"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding litecoin",
            "FeatureCode":10106,
            "DonationAddress":"12bfndjvvj6FeXPN29Q16zvFxYZRR9zxQ4"
        },{  
            "OS":1,
            "Feature":"Donation for adding dash",
            "FeatureCode":10107,
            "DonationAddress":"1Fp9JeCdcrz9ankvbktXiiQNtb55ZcBN3t"
        },{  
            "OS":1,
           "Feature": "Donation for adding ethereum classic",
            "FeatureCode":10108,
            "DonationAddress":"1MtBFKke5JUJHYhxEt1NLzNtyiJTPvM5oX"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding erc20 tokens",
            "FeatureCode":10109,
            "DonationAddress":"18LUgSbx5ugbAUCJoHwoymtMgvwjh6qr9Y"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding EUR",
            "FeatureCode":10110,
            "DonationAddress":"1Ctw3VrQUvSiSRQrrRMpaAEuoBiwZP6HnU"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding ETH as estimation currency",
            "FeatureCode":10111,
            "DonationAddress":"14BaepJbbLb6Dwe2Xk8A2QTmon3txgcbZf"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Activity screen",
            "FeatureCode":10200,
            "DonationAddress":"1NsjWawSRS7vgTjkYgRDMfsmSkjbmbDsrg"
        },
        {
            "OS":1,
            "Feature":"Donation for adding Contacts screen ",
            "FeatureCode":10201,
            "DonationAddress":"1ChaYAgqzBMiwFKHk52CJf7TKxHGKcScDy"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Portfolio",
            "FeatureCode":10202,
            "DonationAddress":"1KqPGUb8eT2uP1UAwRvNuk2b4UgxXa3Sc9"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Charts",
            "FeatureCode":10203,
            "DonationAddress":"1Gjk2tkBi42o9TAen9VEWWNoDkYf5L9qgC"
        },
        { 
            "OS":1,
            "Feature":"Donation for adding Import wallet function",
            "FeatureCode":10300,
            "DonationAddress":"1PXWUeabhszE71ND4fTFA6s4CqihKf4QVd"
        },{  
            "OS":1,
            "Feature":"Donation for adding Exchange function",
            "FeatureCode":10301,
            "DonationAddress":"17Tnp8H6m3mqWExQD3gAX9HSYwvuMSLoWG"
        },{  
            "OS":1,
            "Feature":"Donation for adding Wireless Scan function",
            "FeatureCode":10302,
            "DonationAddress":"1PzdBkuL9RjnLhSgAh4So5ZkpSjti6jjs9"
        },{  
            "OS":1,
            "Feature":"Donation for adding Exchange Binance",
            "FeatureCode":10400,
            "DonationAddress":"16Ys7ARTJNaw1DqikX5ufjJbo7kdG3jUXj"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Exchange OKEx",
            "FeatureCode":10401,
            "DonationAddress":"16qEnyvofjqnRupPd8kARzsNbavauVHoSj"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Exchange Huobi",
            "FeatureCode":10402,
            "DonationAddress":"198RLNrbvomzEe54T5zvfqibpM8BWMJqvh"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Exchange Upbit",
            "FeatureCode":10403,
            "DonationAddress":"1D3nrQ1PoBjpCAvGqzBEQguYDTeuYi53yu"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Exchange Bitfinex",
            "FeatureCode":10404,
            "DonationAddress":"19ui7qnsfk8x64b6sArBUs7Zag4fwdBZjR"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Exchange Bittrex",
            "FeatureCode":10405,
            "DonationAddress":"1MgNGDvasvnoyHLMLE5fivNKEzkNB7mxBp"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Exchange Bithumb",
            "FeatureCode":10406,
            "DonationAddress":"15oBGfmAUeUAhYrKpZuax5wXaFM5f5ziET"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Exchange GDAX",
            "FeatureCode":10407,
            "DonationAddress":"1AqYfNpPP3QysShKkYWEFMJQ8oMhi5p7J2"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Exchange Kraken",
            "FeatureCode":10408,
            "DonationAddress":"1Eqse35Q9E3a8e8meibBFUTp426ymTuusR"
        },
        {  
            "OS":1,
            "Feature":"Donation for adding Exchange HitBTC",
            "FeatureCode":10409,
            "DonationAddress":"164DrBqBmw4Xsj2Cbs2AQWiGGBoKDCvQF4"
        },





        {  
            "OS":2,
            "Feature":"Donation with transaction",
            "FeatureCode":20000,
            "DonationAddress":"1FPv9f8EGRDNod7mSvJnUFonUioA3Pw5ng"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding bitcoin lighting",
            "FeatureCode":20100,
            "DonationAddress":"1EyoGcD8sWzHikPPiJmzGiHyUyTHZzHtGU"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding ethereum",
            "FeatureCode":20101,
            "DonationAddress":"1Eo3U9PVSr3XyFhaH5sm1hWNpMmk1bCKQR"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding golos",
            "FeatureCode":20102,
            "DonationAddress":"1LtLD3W2uqABssS1SZxeYi75xvpZpYFZ1B"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding steemit",
            "FeatureCode":20103,
            "DonationAddress":"14REwuBJQTTEF8PNCF2vmKtanoK7u1NbHr"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding bitshares",
            "FeatureCode":20104,
            "DonationAddress":"1DVmNPZgSUmdsBd5cmYUMgvmFH7rmDzyRY"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding bitcoin cash",
            "FeatureCode":20105,
            "DonationAddress":"17wvEWAqnY5qmitVzTR9DiV8jPz3GK8GD1"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding litecoin",
            "FeatureCode":20106,
            "DonationAddress":"12bfndjvvj6FeXPN29Q16zvFxYZRR9zxQ4"
        },{  
            "OS":2,
            "Feature":"Donation for adding dash",
            "FeatureCode":20107,
            "DonationAddress":"1Fp9JeCdcrz9ankvbktXiiQNtb55ZcBN3t"
        },{  
            "OS":2,
            "Feature": "Donation for adding ethereum classic",
            "FeatureCode":20108,
            "DonationAddress":"1MtBFKke5JUJHYhxEt1NLzNtyiJTPvM5oX"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding erc20 tokens",
            "FeatureCode":20109,
            "DonationAddress":"18LUgSbx5ugbAUCJoHwoymtMgvwjh6qr9Y"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding EUR",
            "FeatureCode":20110,
            "DonationAddress":"1Ctw3VrQUvSiSRQrrRMpaAEuoBiwZP6HnU"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding ETH as estimation currency",
            "FeatureCode":20111,
            "DonationAddress":"14BaepJbbLb6Dwe2Xk8A2QTmon3txgcbZf"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Activity screen",
            "FeatureCode":20200,
            "DonationAddress":"1NsjWawSRS7vgTjkYgRDMfsmSkjbmbDsrg"
        },
        {
            "OS":2,
            "Feature":"Donation for adding Contacts screen ",
            "FeatureCode":20201,
            "DonationAddress":"1ChaYAgqzBMiwFKHk52CJf7TKxHGKcScDy"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Portfolio",
            "FeatureCode":20202,
            "DonationAddress":"1KqPGUb8eT2uP1UAwRvNuk2b4UgxXa3Sc9"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Charts",
            "FeatureCode":20203,
            "DonationAddress":"1Gjk2tkBi42o9TAen9VEWWNoDkYf5L9qgC"
        },
        { 
            "OS":2,
            "Feature":"Donation for adding Import wallet function",
            "FeatureCode":20300,
            "DonationAddress":"1PXWUeabhszE71ND4fTFA6s4CqihKf4QVd"
        },{  
            "OS":2,
            "Feature":"Donation for adding Exchange function",
            "FeatureCode":20301,
            "DonationAddress":"17Tnp8H6m3mqWExQD3gAX9HSYwvuMSLoWG"
        },{  
            "OS":2,
            "Feature":"Donation for adding Wireless Scan function",
            "FeatureCode":20302,
            "DonationAddress":"1PzdBkuL9RjnLhSgAh4So5ZkpSjti6jjs9"
        },{  
            "OS":2,
            "Feature":"Donation for adding Exchange Binance",
            "FeatureCode":20400,
            "DonationAddress":"16Ys7ARTJNaw1DqikX5ufjJbo7kdG3jUXj"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Exchange OKEx",
            "FeatureCode":20401,
            "DonationAddress":"16qEnyvofjqnRupPd8kARzsNbavauVHoSj"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Exchange Huobi",
            "FeatureCode":20402,
            "DonationAddress":"198RLNrbvomzEe54T5zvfqibpM8BWMJqvh"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Exchange Upbit",
            "FeatureCode":20403,
            "DonationAddress":"1D3nrQ1PoBjpCAvGqzBEQguYDTeuYi53yu"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Exchange Bitfinex",
            "FeatureCode":20404,
            "DonationAddress":"19ui7qnsfk8x64b6sArBUs7Zag4fwdBZjR"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Exchange Bittrex",
            "FeatureCode":20405,
            "DonationAddress":"1MgNGDvasvnoyHLMLE5fivNKEzkNB7mxBp"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Exchange Bithumb",
            "FeatureCode":20406,
            "DonationAddress":"15oBGfmAUeUAhYrKpZuax5wXaFM5f5ziET"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Exchange GDAX",
            "FeatureCode":20407,
            "DonationAddress":"1AqYfNpPP3QysShKkYWEFMJQ8oMhi5p7J2"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Exchange Kraken",
            "FeatureCode":20408,
            "DonationAddress":"1Eqse35Q9E3a8e8meibBFUTp426ymTuusR"
        },
        {  
            "OS":2,
            "Feature":"Donation for adding Exchange HitBTC",
            "FeatureCode":20409,
            "DonationAddress":"164DrBqBmw4Xsj2Cbs2AQWiGGBoKDCvQF4"
        }

    ]
}

